[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "geomtextpath"]
	path = geomtextpath
	url = https://github.com/allancameron/geomtextpath
	shallow = true
	registered = true
